<template name="landingPage">
    <div id="landingPage" class="page">
        <div class="content">


            <div class="col col-md-8 col-md-offset-2">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <h1>Agile got you down...</h1>

                        <h3 id="0" style="display: none;">Create and share sequence diagrams</h3>

                        <p id="1" class="lead" style="display: none;">It's quick and easy - and best of all <strong>FREE!</strong></p>

                        <h4 id="2" style="display: none;">In <strong>5 minutes</strong> you can create a sequence diagram to share with your team.</h4>
                    </div>
                </div>
            </div>

            <div id="3" class="col col-md-12" style="display: none;">
                <hr>
                <div id="diagram"></div>
            </div>
        </div>

    </div>
</template>
