<template name="cheatSheet">

    <div class="panel panel-info">
        <div class="panel-heading">
            Cheat Sheet
        </div>
        <div class="panel-body">

            <p>Put each statement on a separate line.</p>

            <h4>Lines</h4>
            <p><kbd>title:</kbd> My title</p>
            <p>A<kbd>-></kbd>B<kbd>:</kbd> my message</p>
            <p>B<kbd>--></kbd>A<kbd>:</kbd> my return message</p>

            <h4>Notes</h4>
            <p><kbd>note over</kbd>A<kbd>:</kbd> my note over A</p>
            <p><kbd>note over</kbd>A,B<kbd>:</kbd> my note over A and B</p>
            <p><kbd>note left of</kbd>A<kbd>:</kbd> my note right of A</p>
            <p><kbd>note right of</kbd>B<kbd>:</kbd> my note left of B</p>


            <a href="/uid/simple">show this example</a>
            <hr>
            <p class="small">Required syntax is <kbd>marked</kbd></p>
        </div>
    </div>
</template>
