<template name="_ctxDgm">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#contextTab" aria-controls="contextTab" role="tab" data-toggle="tab">Context Diagram</a></li>
        <li role="presentation"><a href="#dotpowergraphTab" aria-controls="dotpowergraphTab" role="tab" data-toggle="tab">Summary Diagram</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="contextTab">
            <div id="context"></div>
            <a id="context-help">
                <i class="fa fa-question-circle fa-2x"></i>
            </a>
        </div>
        <div role="tabpanel" class="tab-pane" id="dotpowergraphTab">
            <div class="col col-md-10">
                <div id="dotpowergraph"></div>
            </div>
            <div class="col col-md-2">
                <h4>Legend
                    <a id="dotpowergraph-help">
                        <i class="fa fa-question-circle"></i>
                    </a>
                </h4>
                <table class="table table-striped table-condensed table-bordered">
                    <tbody>
                    {{#each nodes}}
                        <tr>
                            <th scope="row">{{name}}</th>
                            <td>{{ref}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</template>

