<template name="_ctxDgm">
    <h4>Context Diagram
        <a id="context-help">
            <i class="fa fa-question-circle"></i>
        </a>
        &middot; <a href="#" class="scroll-to" data-where="powergraph-help" title="Scroll to Summary Diagram">Summary Diagram</a>
        &middot; <a href="#" class="scroll-to" data-where="dotpowergraph-help" title="Scroll to Grid Diagram">Grid Diagram</a>
    </h4>
    <div id="context"></div>
    <h4><a href="#" class="scroll-top" title="Scroll to Context Diagram">Context Diagram</a>
        &middot; Summary Diagram
        <a id="powergraph-help">
            <i class="fa fa-question-circle"></i>
        </a>
        &middot; <a href="#" class="scroll-to" data-where="dotpowergraph-help" title="Scroll to Grid Diagram">Grid Diagram</a>
    </h4>
    <div id="powergraph"></div>
    <h4><a href="#" class="scroll-top" title="Scroll to Context Diagram">Context Diagram</a>
        &middot; <a href="#" class="scroll-to" data-where="powergraph-help" title="Scroll to Summary Diagram">Summary Diagram</a>
        &middot; Grid Diagram
        <a id="dotpowergraph-help">
            <i class="fa fa-question-circle"></i>
        </a>
    </h4>
    <div id="dotpowergraph"></div>

</template>

