<template name="aboutPage">
    <div id="aboutPage" class="page">
        <div class="content">


            <div class="col col-md-8 col-md-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        ABOUT
                    </div>
                    <div class="panel-body">
                        <p class="lead">Created by John T Day
                            <a href="http://www.linkedin.com/in/johntday">
                                <img src="images/content/linkedin.png" border="0" alt="linked in" height="91" width="256">
                            </a>
                        </p>

                        <p>Version {{version}}</p>
                        <hr>

                        <a href="https://trello.com/b/NePeqGwC/idiagram">Trello project tracking enhancements</a>

                        <h3>Credit to</h3>
                        <ul>
                            <li>http://bramp.github.io/js-sequence-diagrams</li>
                            <li>http://meteor.com</li>
                            <li>https://github.com/mbostock/d3</li>
                            <li>http://bl.ocks.org/rkirsling/5001347</li>
                            <li>http://marvl.infotech.monash.edu/webcola/</li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
</template>
