<template name="feedbackPage">
  <div id="feedbackPage" class="page">
    <div class="content">

        <div class="col col-md-8 col-md-offset-2">
            <div class="panel panel-info">
            <div class="panel-heading">
              FEEDBACK
            </div>
            <div class="panel-body">
                <p class="lead">Please send feedback and ideas to <b>johntday@gmail.com</b> with <i>iDiagram</i> in the subject.</p>

                <p>If your interested in <a href="http://meteor.com">meteor</a>, or Javascript and wish to collaborate on this project then please send me an email with with <i>iDiagram</i>
                in the subject.</p>
            </div>
          </div>
        </div>

    </div>
  </div>
</template>
