<template name="feedbackPage">
  <div id="feedbackPage" class="page">
    <div class="content">

        <div class="col col-md-8 col-md-offset-2">
            <div class="panel panel-info">
            <div class="panel-heading">
              FEEDBACK
            </div>
            <div class="panel-body">
                <p class="lead">Please send feedback and ideas to <b>johntday@gmail.com</b>, or <a href="https://github.com/johntday/idiagram/issues">https://github.com/johntday/idiagram/issues</a>.</p>

            </div>
          </div>
        </div>


    </div>
  </div>
</template>
