<template name="privacyPage">
  <div id="privacyPage" class="page">
    <div class="content">


        <div class="col col-md-8 col-md-offset-2">
            <div class="panel panel-info">
            <div class="panel-heading">
              PRIVACY PAGE
            </div>
            <div class="panel-body">

                <h4>GENERAL</h4>
                <p>Your privacy is important to me. All personal data stays where it is, and is only used for authentication.</p>

                <h4>COLLECTION OF PERSONAL INFORMATION</h4>
                <p>We would never ask for any personal information. Who wants that.</p>

                <h4>USE OF PERSONAL INFORMATION</h4>
                <p>We don't have keep any personal information except for your email - enough said. If we
                send you an e-mail, it will contain a provision for you to opt out of receiving
                any further information from us.</p>

                <h4>POLICY CHANGES</h4>
                <p>Policy changes will be communicated by email.</p>
            </div>
          </div>
        </div>


    </div>
  </div>
</template>
