<template name="historyPage">
    {{> topPanel}}

    <div id="historyPage" class="page">
        <div class="content">

            <div class="col col-md-12">
                <div class="padded">
                    {{#if canEdit}}
                        <a id="restoreBtnID" class="btn btn-primary" href="#" title="Restore diagram"> <i class="fa fa-refresh pull-left"></i> Restore</a>
                    {{/if}}

                    <span class="h3 padded">
                        Archived copy when <span class="text-primary">{{doc.title}}</span> was <span class="text-info">{{actionDesc}}</span>
                        <span class="badge pull-right">{{agoTime createdAt}}</span>
                    </span>

                    <hr>
                    {{#if isCtxDgm}}
                    <div id="context-div" class="col col-md-6">
                        <h4 style="margin-top: -5px">Context Diagram
                            <a id="context-help">
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </h4>
                        <div id="context"></div>
                    </div>
                    <div id="powergraph-div" class="col col-md-6">
                        <h4 style="margin-top: -5px">Summary Diagram
                            <a id="powergraph-help">
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </h4>
                        <div id="powergraph"></div>
                    </div>
                    {{else}}
                    <div id="diagram"></div>
                    {{/if}}
                </div>
            </div>

        </div>
    </div>
</template>
