<template name="historyPage">

    <div id="historyPage" class="page">
        <div class="content">

            <div id="test" class="col col-md-12">
                <div class="padded">
                    {{#if canEdit}}
                        <a id="restoreBtnID" class="btn btn-primary" href="#" title="Restore diagram"> <i class="fa fa-refresh pull-left"></i> Restore</a>
                    {{/if}}

                    <span class="h3 padded">
                        Archived copy when <span class="text-primary">{{doc.title}}</span> was <span class="text-info">{{actionDesc}}</span>
                        <span class="badge pull-right">{{agoTime createdAt}}</span>
                    </span>

                    <hr>
                    <div id="diagram"></div>
                </div>
            </div>

        </div>
    </div>
</template>
