<template name="historyPage">
    {{> topPanel}}

    <div id="historyPage" class="page">
        <div class="content">

            <div class="col col-md-12" style="margin-top: -20px">

                    <h2 id="editBtnID">
                        {{#if canEdit}}<a href="#"><i class="fa fa-refresh pull-left"></i></a>{{/if}} {{title}}
                        <span class="badge pull-right">{{agoTime doc.modifiedAt}}</span>
                    </h2>


                        <div id="diagram"></div>

            </div>

        </div>
    </div>
</template>
