<template name="homeNewUser">
    <div class="col col-md-6 col-md-offset-3">
        <div class="panel panel-info">
            <div class="panel-body">

                <p class="lead">You must be new here!</p>
                <h3><i class="fa fa-plus-circle fa-2x"></i> Create yourself a diagram</h3>

                <ul>
                    <li><a id="seqCreate" href="#">Sequence Diagram</a></li>
                    <li><a id="ctxCreate" href="#">Context Diagram</a></li>
                </ul>

            </div>
        </div>
    </div>

</template>
