<template name="homePage">

    <div id="homePage" class="page">
        <div class="content">
            {{#if isDiagramsNotFound}}
                {{> homeNewUser}}
            {{else}}
                <div class="col col-md-6 col-md-offset-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            DIAGRAMS LAST MODIFIED
                        </div>
                        <div class="panel-body">

                            {{#each diagrams}}
                                {{> seqDgmListItem}}
                            {{/each}}

                            <hr>
                            <a href="/diagrams/-1/all/1/modifiedAt/-1">View All</a>
                        </div>
                    </div>
                </div>
            {{/if}}

        </div>
    </div>
</template>
