<template name="d3Test">
    {{> topPanel}}

    <div id="d3TestDiv" class="page">
        <div class="content">

            <div class="col col-md-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        d3 test
                    </div>
                    <div id="test" class="panel-body">

                        <div id="d3_selectable_force_directed_graph"></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</template>
